
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="account_grid">
    <div class="login-right">
        <h3>Đăng nhập tài khoản</h3>
        <p>Nếu bạn đã có tài khoản vui lòng đăng nhập</p>
        <form>
            <div>
                <span>Địa chỉ email<label>*</label></span>
                <input type="text">
            </div>
            <div>
                <span>Mật khẩu<label>*</label></span>
                <input type="text">
            </div>
            <a class="forgot" href="#">Quên mật khẩu ?</a>
            <input type="submit" value="Login">
        </form>
    </div>
    <div class="login-left">
        <h3>Khách hàng mới</h3>
        <p>Khi tạo tài khoản với Shop chúng tôi, bạn sẽ nhận được những ưu đãi giảm giá, mua hàng trước thanh toán khi nhận hàng, nhận được thông tin khuyến mãi sớm nhất.</p>
        <a class="acount-btn" href="register.html">Tạo tài khoản</a>
    </div>
    @*<div class="clearfix"> </div>*@
@*</div>*@

