<connectionStrings>
  <clear />
  <add name="MyShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=MyShop;Integrated Security=False;User Id=sa;Password=sa12345;MultipleActiveResultSets=True" />
  <!--<add name="TeduShopConnection" connectionString="Data Source=.;Initial Catalog=TeduShop;User ID=sa;Password=sa12345" providerName="System.Data.SqlClient"/>-->
</connectionStrings>