
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plusgin/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
    <div ng-controller="schoolController">
        <my-shop-directive></my-shop-directive>
        <input type="number" ng-model="num"/> Validate text {{num}}
         <button ng-click="checkNumber()">Check </button>
        {{message}}
    </div>
</body>
</html>
